<form method="POST">
  {% csrf_token %}

  <!-- Formulario de usuario -->
  <div>
      <label for="id_username">Username:</label>
      {{ user_form.username }}

      <label for="id_password1">Password:</label>
      {{ user_form.password1 }}

      <label for="id_password2">Confirmar Password:</label>
      {{ user_form.password2 }}

      <label for="id_rut">RUT:</label>
      {{ user_form.rut }}
  </div>

  <!-- Formulario de tipo de usuario -->
  <div>
      <label for="id_tipo_usuario">Tipo de Usuario:</label>
      {{ tipo_usuario_form.tipo_usuario }}
  </div>

  <button type="submit">Registrar</button>
</form>
