<!-- base.html -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inmobiliaria</title>
  </head>
  <body>
    <header>
      <h1>Inmobiliaria</h1>
    </header>

    <nav>
      <!-- Aquí iría tu barra de navegación -->
    </nav>

    <main>
      <!-- Este bloque define el área donde las plantillas hijas pueden agregar su contenido -->
      {% block content %} {% endblock %}
    </main>

    <footer>
      <p>© 2024 Gestión de Inmuebles</p>
    </footer>
  </body>
</html>
